<!DOCTYPE html>
<html>
    <head></head>
        <meta charset="utf-8">
        <title>The Homepage</title>
    <body>
        {{> header}}

        {{!-- <h1>{{welcomeMessage}}</h1>         --}}

        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}

    </body>
</html>